@charset "UTF-8";
@import url(./variable.css);


/* 전체아코디언 */
.uititle{width: 90%; margin: 0.1px auto; padding: 16px 20px; border: 1px solid var(--color-light-gray2);
display: flex; justify-content: space-between; text-transform: uppercase; cursor: pointer;}
.uicont{width: 90%; margin: 0 auto; padding: 10px; min-height: 200px;}

.chevronIcon{transition: all 0.3s;}

/* 1. 탭 */
.tab--up{
    margin: 10px 0px;
    display: flex;
    cursor: pointer;
}
.tab--btn{display: inline-block; 
    padding: 8px 16px;
    border-radius: 4px 4px 0 0;
    
    }
.tab--default{
    border-bottom: 1px solid var(--color-default);
    color: var(--color-disable);
}
.tab--selected{
    border: 1px solid var(--color-default);
    border-bottom: 0;
    color: var(--color-default);
}
.tab--rest{display: inline-block; flex-grow: 1; height: 42px; border-bottom: 1px solid var(--color-default);}

.tab--bot{
    padding: 4px 10px;

}


/* 2. 버튼 */
.btnset{display: flex; 
    border: 1px solid var(--color-disable); 
    border-radius: 10px;
    height: 48px; width: 160px; 
    overflow: hidden;
    margin-top: 10px;
    }
.btnset > .btn--fzup, .btnset > .btn--fzdn
{font-size: 30px; font-weight: 600; color: var(--color-disable); width: 30%; height: 100%; text-align: center; cursor: pointer; transition: all 0.4s; user-select: none;}
.btnset > .btn--fznow{flex-grow: 1; border-left: 1px solid var(--color-light-gray2); border-right: 1px solid var(--color-light-gray2); height: 100%; display: flex; justify-content: center; align-items: center;  }

.btnset > .btn--fzup:hover, .btnset > .btn--fzdn:hover{color: var(--color-second);}


.btnset > .btn--whiteMode, 
.btnset > .btn--darkMode
{text-transform: uppercase; width: 50%; height: 100%; cursor: pointer; user-select: none; display: flex; align-items: center; justify-content: center; transition: all 0.3s; background: #fff; color: #111;
}
.btnset > .btn--darkMode{border-left:1px solid var(--color-light-gray2); background: #111; color: #fff;}

.btnset > .btn--whiteMode:hover{background: #f1f1f1;} 
.btnset > .btn--darkMode:hover{background: #282828;}


/* 3. 드롭다운 */

button.drop{
    display: flex; gap: 2px; justify-content: space-between; align-items: center;
    padding: 4px 2px 4px 6px;
    border-radius: 4px;
    border: var(--color-light-gray2) 1px solid;
    background: rgba(241, 241, 241, 0.1); 
    margin-bottom: 2px;
    min-width: 110px;

    user-select: none;
}

ul.drop--box{
    background: rgba(241, 241, 241, 0.1);
    border: var(--color-light-gray2) 1px solid;
    border-radius: 8px;
    display: flex; flex-direction: column; 
    overflow: hidden;
    position: absolute;
    min-width: 110px; 

    user-select: none;
    
}
.drop--box > li{
    flex-shrink: 1;
    display: inline-block;
    border-bottom: 1px solid var(--color-light-gray2);
    
}

.drop--box > li > a{
    color: var(--color-second);
    display: inline-block;
    width: 100%; height: 100%; 
    padding: 7px 14px;
}
.drop--box > li:hover > a{
    color: var(--color-default);
    background: var(--color-light-gray1);
}


/* 4. 카드 - 플레이스 홀더 */
.card--align{display: flex; flex-wrap: wrap; row-gap: 8px; column-gap: 30px; }
.card{width: 250px; border-radius: 8px; overflow: hidden; border: var(--color-light-gray2) 2px solid; box-shadow: 8px 8px 12px var(--color-light-gray2);}
.card--img{
    object-fit: cover; object-position: center;
    width: 250px; height: 150px;
}
.card--bottomArea{
    display: flex; flex-direction: column; align-items: start; gap: 8px;
    padding: 12px 10px;
}
.card--title{
    font-size: calc(var(--default-fz)*1.4rem); 
    text-transform: uppercase; 
}
.card--content{/* padding: 8px 4px; */ color: var(--color-second); overflow: hidden; white-space: normal; display: -webkit-box;  -webkit-line-clamp: 3; -webkit-box-orient: vertical; height: auto; line-height: 1.4; max-height: 4.2em; word-break: break-all;}
.card--btn{padding: 6px 12px; background: var(--color-point-default); border-radius: 4px; color: var(--color-second); transition: all 0.3s;}  

.card--btn:hover{text-decoration: underline; background: var(--color-point-hover); color: var(--color-default);}


/* 플레이스홀더 */
.card__imgloading{
    width: 250px; height: 150px;
    background: var(--color-disable);
    animation: loading-card 2.5s infinite;
}
.loading > .card--bottomArea > .card--title{
    color: transparent; background: var(--color-disable);
    animation: loading-card 2.5s infinite;
}
.loading > .card--bottomArea > .card--content{
    color: transparent; background: var(--color-disable); 
    animation: loading-card 2.5s infinite;
}  
.loading > .card--bottomArea > .card--btn{
    color: transparent;
    animation: loading-card 2.5s infinite;
}

@keyframes loading-card {
    0%, 100%{opacity: 1;}
    50%{opacity: 0.7;}
}

.card--title.loading{width: 50%; height: 29px; background: var(--color-disable); animation: loading-card 2.5s infinite;}
.card--content.loading{display: flex; flex-direction: column; gap: 4px; width: 100%;}
.card--content.loading > span{width: 100%; height: 20px; background: var(--color-disable); 
animation: loading-card 2.5s infinite; box-sizing: border-box;}
.card--content.loading > span:last-child{width: 80%;}
.card--btn.loading{width: 109px; height: 33px; animation: loading-card 2.5s infinite; box-sizing: border-box;}

/* 5번 아코디언 안내문 */
.alert5{padding: 12px 18px; background: rgba(255, 0, 0, 0.4); border-radius: 8px; display: flex; gap: 8px; justify-content: center; align-items: start; box-sizing: border-box; margin: 0px auto 40px; width: fit-content;}
.alert5 > .alertIcon{stroke: #fff; min-width: 24px;}
.alert5 > p{color: #ffffff; flex-shrink: 1;}

.uicont-align{display: flex; gap: 20px; flex-wrap: wrap; row-gap: 40px; align-items: start;}


/* 툴팁 */
.tooltip--icon{ padding: 4px; margin-left: 10px; stroke: var(--color-third); transition: stroke 0.2s;}
.tooltip--txtBox{
    max-width: 300px; box-sizing: border-box; padding: 12px 14px;
    border: 1px solid var(--color-light-gray2); border-radius: 8px;
    word-break: break-all;
    position: relative;
    background: rgba(255, 255, 255, 1);
    box-shadow: 4px 4px 6px rgba(95, 95, 95, 0.2);
    margin-top: 8px;
    transition: opacity 0.3s;
    opacity: 0; pointer-events: none;
}
.tooltip--txtBox > p{color: #111; user-select: none;}
.tooltip--txtBox > .triangle{
    width: 12px; height: 12px; 
    background: rgba(255, 255, 255, 1);
    position: absolute; top: -6.5px; left: 17px;
    border: 1px solid var(--color-light-gray2);
    clip-path: polygon(0% 0%, 0% 100%,100% 100%);
    transform: rotate(135deg);
}

@media (pointer: coarse) {
    .tooltip.active .tooltip--txtBox{opacity: 1; pointer-events: auto;}
    .tooltip.active .tooltip--icon{stroke:var(--color-default);}
}


@media (hover: hover) and (pointer: fine) {
    .tooltip--icon:hover ~ .tooltip--txtBox {
        opacity: 1;
    }
    .tooltip--icon:hover {
        stroke: var(--color-default);
    }
}


/* 팝오버 */
.popover{display: flex; gap: 10px;}

 .popover--btn{
    width: 50px; height: 50px; 
    border-radius: 50%; 
    overflow: hidden;
    position: relative;
    background: rgba(150, 150, 150, 0.2);
    transition: background 0.8s;
    user-select: none;
} 
.popover--btn > img{
    width: 46px; height: 46px; border-radius: 50%;
    object-fit: cover;
    object-position: center;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
}

.popover--menu-box{box-shadow: 0 0 8px var(--color-light-gray2); border-radius: 18px; border: 1px solid var(--color-light-gray2);
}
ul.popover--menu:first-child{
    background: rgba(255, 255, 255, 0.3); 
    padding: 8px; border-radius: 18px 18px 0 0; 
    border-bottom: 1px solid var(--color-light-gray1);
    backdrop-filter: blur(4px);
}
ul.popover--menu:last-child{
    background: rgba(255, 255, 255, 0.3); 
    padding: 8px; border-radius: 0 0 18px 18px; 
    backdrop-filter: blur(4px);
}
ul.popover--menu:first-child > li:last-child{margin-bottom: 4px;}
.popover--menu > li{
    display: flex; gap: 8px; align-items: center;
    margin-top: 4px; padding: 8px 12px;
    border-radius: 8px;
    min-width: 200px;
    position: relative;
    user-select: none;
}
.popover--menu > li > a {color: var(--color-second); transition: color 0.2s;}
.popover.icon{stroke: var(--color-second); transition: color 0.2s;}
.popover--menu > li > .grade{
    text-transform: uppercase; font-size: calc(var(--default-fz)*0.8rem); font-weight: 600; 
    position: absolute; right: 12px;
    padding: 2px 4px; background: var(--color-point-hover); 
    border-radius: 4px; border: 1px solid var(--color-point-default);
}

.popover--menu > li:hover > a{color: var(--color-default);}
.popover--menu > li:hover > .icon{stroke: var(--color-default);}
.popover--menu > li:hover{background: var(--color-light-gray1); transition: background 0.2s;}


/* 모달 */

.modal{position: fixed; inset: 0; background: rgba(100, 100, 100, 0.6); backdrop-filter: blur(2px); z-index: 50;}
.modal--btn-open{
    padding: 8px 12px; height: auto;
    text-transform: uppercase;
    background: var(--color-second);
    border: 1px solid var(--color-default);
    border-radius: 4px;
    color: var(--color-light-gray1);
    user-select: none;
}
.modal--btn-open:hover{background: var(--color-third); color: var(--color-white); transition: all 0.3s; border-color: var(--color-second);}

.modal--box{
    padding: 40px 25px 20px 25px; background:var(--color-white);
    border-radius: 12px;
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    display: flex; flex-direction: column; gap: 16px;
    border: 1px solid #999;
    background: var(--color-light-gray1);
}
.modal-i.icon{position: absolute; top: 20px; right: 25px;}
.modal--title{
    font-size: calc(var(--default-fz)*1.4rem); 
    text-transform: uppercase; 
    user-select: none;
}
.modal--content{
    width: 300px;
    word-break: break-all;
    user-select: none;
}
.modal--inner-btns{ display: flex; justify-content: end; gap: 4px;}
.modal--inner-btn{padding: 8px 12px; border-radius: 4px; text-transform: uppercase; font-size: calc(var(--default-fz)*0.9rem);}
.modal--inner-btn:first-child{border: 1px solid #777; background: #fff; color: #111;}
.modal--inner-btn:last-child{background: #256EF4; border: 1px solid #1b56c4; color: #fff;}


/* input 내용 저장 */
.uicont.input{padding-bottom: 180px;}



.input--search-box{
    border: 2px solid #0b0bff; border-radius: 100px; 
    height: 42px; max-width: 600px; box-sizing: border-box;
    overflow: hidden;
    display: flex; justify-content: space-between; align-items: center;
    padding: 0 12px;
}
.input--search-box > #user-search {
    border: 0;
    font-size: calc(var(--default-fz)*1.1rem); font-weight: 600;
    background: transparent;
    width: 88%;
}
.input--search-box > #user-search::placeholder{font-weight: 500; color: var(--color-light-gray3);}
.user-serarch--icons{display: flex; gap: 4px; align-items:center;}

.input--search-box > #user-search:focus-visible{outline: 0;}

.user-serarch--icons > button {border: 0; background: transparent;}
.user-serarch--icons > button > .input-i-dn{
    stroke: var(--color-white);
    width: 22px; height: 22px; fill: var(--color-disable);
}
.user-serarch--icons > button > .input-i{stroke: #3636ff;}

/* 클릭하면 나오는 아래 박스 */
.input--recents-box{
    border-radius: 0 0 10px 10px;
    min-height: 60px; max-width: 600px; 
    overflow: hidden;
    /* margin-bottom: 150px; */ 
    box-shadow: 
    2px 2px 2px var(--color-light-gray1),
    -2px 2px 2px var(--color-light-gray1)
    ;
    display: flex; flex-direction: column; justify-content: space-between;
}
ul.input--recents > li{
    padding: 12px 18px;
    display: flex; justify-content: space-between; align-items: center;
    cursor: pointer;
    user-select: none;
}
ul.input--recents > li > .right {display: inline-block; display: flex; align-items: center; gap: 6px;}
ul.input--recents > li > .right > div{width: 22px; height: 22px; position: relative;}
ul.input--recents > li > .right > div::before,
ul.input--recents > li > .right > div::after{
    content: '';
    display:block;
    width: calc(var(--default-fz)*0.9rem); height: 1.5px; background: var(--color-disable);
    border-radius: 5px;
    position: absolute; top: 50%; left: 50%; transform-origin: center;
    
}
ul.input--recents > li > .right > div::before{transform:translate(-50%,-50%) rotate(45deg); }
ul.input--recents > li > .right > div::after{transform:translate(-50%,-50%) rotate(-45deg);}
ul.input--recents > li > .right > small{font-size: calc(var(--default-fz)*0.9rem); color: var(--color-disable);}

.input--recents-box--footer{
    display: flex; justify-content: end; align-items: start;
    width: 100%; height: 30px;
}
.input--recents-box--delete{ 
    font-size: calc(var(--default-fz)*0.85rem);
    color: var(--color-third);
    display: inline-block;
    padding: 4px 10px;
    cursor: pointer;
    user-select: none;
}
    


.input--search-box:hover{box-shadow: 0 2px 4px rgba(1,1,1,0.2);}
.user-serarch--icons > button:hover > .input-i{stroke: #0b0bff;}
.user-serarch--icons > button:hover > .input-i-dn{fill: var(--color-third);}


.input--search-box.active{
    border: 0; border-radius: 10px 10px 0 0; 
    box-shadow: 
    2px 0px 2px var(--color-light-gray1),
    -2px 0px 2px var(--color-light-gray1)
    ;
}
ul.input--recents > li:hover {background: var(--color-light-gray1);}




/* 탑버튼 */
#topBtn{
    background: rgba(1, 1, 1, 0.08); 
    backdrop-filter: blur(2px);
    box-shadow: 
    inset 2px 2px 1px rgba(255,255,255,0.4),
    inset -2px -2px 1px rgba(255,255,255,0.2),
    2px 2px 4px rgba(1,1,1,0.2);
    height: 52px; width: 52px;
    border-radius: 50%;
    /* position: fixed; bottom: 40px; right: 8px; */
    cursor: pointer;
}
#topBtn > .icon--area {
    height: 28px; width: 28px;
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    overflow:hidden; 
}
#topBtn > .icon--area > .icon--area--bd{
    display: inline-block;
    width: 2.8px; height: 18px;
    background: var(--color-second);
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    /* transition: all 0.3s; */
    border-radius: 2px;
    
}
#topBtn > .icon--area > .icon--area--bd::before, 
#topBtn > .icon--area > .icon--area--bd::after{
    content: '';
    width: 2.8px; height: 12px;
    background-color: var(--color-second); 
    position: absolute; top: 0.4px;  
    transform-origin: top; 
    border-radius: 2px;
}
#topBtn > .icon--area > .icon--area--bd::before{
    transform: rotate(45deg);
    left: 0.2px;
}
#topBtn > .icon--area > .icon--area--bd::after{
    transform: rotate(315deg);
    left: -0.2px;
}


#topBtn:hover > .icon--area > .icon--area--bd{
    animation: topbtnHover 0.8s ease-out;
    
}
@keyframes topbtnHover {
    0%, 100%{top: 50%; opacity: 1;}
    50%{top: -80%; opacity: 0.4;} 
    51%{top: 140%; opacity: 0;}
    54%{opacity: 1;}
}


.floating-btn{display: flex; flex-direction: column-reverse; gap: 8px;}
.floating--init{
    background: rgba(0, 0, 250, 0.7); 
    backdrop-filter: blur(2px);
    box-shadow: 
    inset 2px 2px 1px rgba(255,255,255,0.4),
    inset -2px -2px 1px rgba(255,255,255,0.2),
    2px 2px 4px rgba(1,1,1,0.2);
    height: 52px; width: 52px;
    border-radius: 50%;

    display: flex;
    align-items: center; justify-content: center; 
    z-index: 20;  
    cursor: pointer;
}
.floating--init > .floating-i{stroke:#eee;}

ul.floating--hidden{display: flex; flex-direction: column-reverse; /* gap: 6px; */}
ul.floating--hidden > li {
    background: rgba(1, 1, 1, 0.04); 
    backdrop-filter: blur(2px);
    box-shadow: 
    inset 2px 2px 1px rgba(255,255,255,0.4),
    inset -2px -2px 1px rgba(255,255,255,0.2),
    2px 2px 4px rgba(1,1,1,0.1);
    height: 52px; width: 52px;
    border-radius: 50%;

    display: flex; align-items: center; justify-content: center;
    margin-bottom: -45px; opacity: 0;  /* 애니메이션 효과위한 속성 */
    transition: margin-bottom 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.1s;
    cursor: pointer;
}
ul.floating--hidden > li > .floating-i {stroke: var(--color-third);}

#fixed-btns{
    display: flex; flex-direction: column; gap: 8px;
    position: fixed; bottom: 40px; right: 18px;
    z-index: 15;
}

.floating--init:hover > .floating-i{stroke:#fff; transition: stroke .3s;}
ul.floating--hidden > li:hover > .floating-i {stroke: var(--color-second); transition: stroke .3s;}

