*{padding: 0; margin: 0; font-size: calc(var(--default-fz)*1rem); color: var(--color-default); transition: font-size 0.2s;}
html, body{font-size: 10px; width: 100%; height: 100vh; }
.icon{stroke-width: 1.8; stroke:var(--color-default);}


.dn{display: none;}
.db{display: block;}
.rotate180{transform: rotate(180deg);}
/* .rotate0{transform: rotate(0deg);} */
.btn__disable{background: #dedede; color: #999;}


:root{
    --color-default:#111;
    --color-second:#333;
    --color-disable:#777;

    --color-light-gray:#dedede;

    --default-fz:1.6;
}



/* 전체아코디언 */
.uititle{width: 90%; margin: 0.1px auto; padding: 16px 20px; border: 1px solid var(--color-light-gray);
display: flex; justify-content: space-between;}
.uicont{width: 90%; margin: 0 auto; min-height: 200px; }
.chevronIcon{transition: all 0.3s;}

/* 1. 탭 */
.tab--up{
    margin: 10px 0px;
    display: flex;
    cursor: pointer;
}
.tab--btn{display: inline-block; 
    padding: 8px 16px;
    border-radius: 4px 4px 0 0;
    
    }
.tab--default{
    border-bottom: 1px solid var(--color-default);
    color: var(--color-disable);
}
.tab--selected{
    border: 1px solid var(--color-default);
    border-bottom: 0;
    color: var(--color-default);
}
.tab--rest{display: inline-block; flex-grow: 1; height: 42px; border-bottom: 1px solid var(--color-default);}

.tab--bot{
    padding: 4px 10px;

}


/* 2. 버튼 */
.btnset{display: flex; 
    border: 1px solid var(--color-disable); 
    border-radius: 10px;
    height: 48px; width: 160px; 
    overflow: hidden;
    margin-top: 10px;
    }
.btnset > .btn--fzup, .btnset > .btn--fzdn
{font-size: 30px; font-weight: 600; color: var(--color-disable); width: 30%; height: 100%; text-align: center; cursor: pointer; transition: all 0.4s; user-select: none;}
.btnset > .btn--fznow{flex-grow: 1; border-left: 1px solid var(--color-light-gray); border-right: 1px solid var(--color-light-gray); height: 100%; display: flex; justify-content: center; align-items: center;  }

.btnset > .btn--fzup:hover, .btnset > .btn--fzdn:hover{color: var(--color-second);}


.btnset > .btn--whiteMode, 
.btnset > .btn--darkMode
{text-transform: uppercase; width: 50%; height: 100%; cursor: pointer; user-select: none; display: flex; align-items: center; justify-content: center; transition: all 0.3s; background: #fff; color: #111;
}
.btnset > .btn--darkMode{border-left:1px solid var(--color-light-gray); background: #111; color: #fff;}

.btnset > .btn--whiteMode:hover{background: #f1f1f1;} 
.btnset > .btn--darkMode:hover{background: #282828;}




















/* 탑버튼 */
#topBtn{
    background: rgba(1, 1, 1, 0.08); 
    backdrop-filter: blur(2px);
    box-shadow: 
    inset 2px 2px 1px rgba(255,255,255,0.4),
    inset -2px -2px 1px rgba(255,255,255,0.2),
    2px 2px 4px rgba(1,1,1,0.2);
    height: 45px; width: 45px;
    border-radius: 50%;
    position: fixed; bottom: 8px; right: 8px;
}
#topBtn > .icon--area {
    height: 28px; width: 28px;
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    overflow:hidden; 
}
#topBtn > .icon--area > .icon--area--bd{
    display: inline-block;
    width: 2.8px; height: 18px;
    background: #fff;
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s;
    border-radius: 2px;
    
}
#topBtn > .icon--area > .icon--area--bd::before, 
#topBtn > .icon--area > .icon--area--bd::after{
    content: '';
    width: 2.8px; height: 12px;
    background-color: #fff; 
    position: absolute; top: 0.4px;  
    transform-origin: top; 
    border-radius: 2px;
}
#topBtn > .icon--area > .icon--area--bd::before{
    transform: rotate(45deg);
    left: 0.2px;
}
#topBtn > .icon--area > .icon--area--bd::after{
    transform: rotate(315deg);
    left: -0.2px;
}


#topBtn:hover > .icon--area > .icon--area--bd{
    animation: topbtnHover 0.8s ease-out;
    
}
@keyframes topbtnHover {
    0%, 100%{top: 50%; opacity: 1;}
    50%{top: -80%; opacity: 0.4;} 
    51%{top: 140%; opacity: 0;}
    54%{opacity: 1;}
}
